node_modules/
npm-debug.log
yarn-error.log

.git/
.gitignore
.gitattributes

*.env

.DS_Store
*.log
*.swp
*.swo
*.bak
*.tmp

dist/

*.spec.ts
*.test.ts
test/
tests/

.vscode/
.idea/

docs/
README.md
CHANGELOG.md
